<div class="panel panel-default" style="padding:20px;">
  <h1 class="page-header" align="center">{{model.title}}</h1>

  <br>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a id="viewButton" href="#view" aria-controls="view" role="tab" data-toggle="tab">View</a></li>
      <li role="presentation"><a {{action "showEdit"}} href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Edit</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="view">
        <strong>Location:</strong> {{#if model.location}}{{model.location}}{{else}}None{{/if}}<br>
        <strong>Description:</strong> {{model.description}}<br>
        <strong>Start:</strong> {{model.start}}<br>
        <strong>End:</strong> {{model.end}}<br>
        <strong>Users:</strong>
        <ul>
          {{#each model.users as |user|}}
            <li>{{user.auth.first_name}} {{user.auth.last_name}}</li>
          {{/each}}
        </ul>
        <button class="btn btn-primary" {{action "joinEvent"}}>Join</button>
        <button class="btn btn-danger" {{action "leaveEvent"}}>Leave</button>
      </div>
      <div role="tabpanel" class="tab-pane" id="edit">
        {{#bs-form  model=this action="submit"}}
          {{bs-form-element
            controlType="text"
            label="Title"
            property="title"
          }}
          {{bs-form-element
            controlType="text"
            label="Location"
            property="location"
          }}
          {{bs-form-element
            controlType="textarea"
            label="Description"
            property="description"
          }}
          {{bs-form-element
            controlType="string"
            label="Start"
            property="start"
            class="datepicker"
          }}
          {{bs-form-element
            controlType="string"
            label="End"
            property="end"
            class="datepicker"
          }}
          {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
          <button class="btn btn-danger" {{action "deleteEvent"}}>Delete</button>
        {{/bs-form}}
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.datepicker > input').datetimepicker({
      format: 'YYYY-MM-DD HH:mm',
      inline: true
    });
  })
</script>
