Selected Event - {{model.title}}
<ul>
    <li>{{model.title}}
        <ul>
            <li>Location: {{model.location}}</li>
            <li>Start: {{model.start}}</li>
            <li>End: {{model.end}}</li>
            <li>All Day: {{model.allDay}}</li>
        </ul>
    </li>
</ul>

{{outlet}}
